@import "@/assets/styles/container";
@import "@/assets/styles/breakpoints";

.about {
  @extend .container;
  text-align: center;
  margin-bottom: 100px;

  .about_title {
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .about_sub_title {
    text-align: center;
    margin-bottom: 50px;
  }

  .about_items {
    display: flex;
    justify-content: center;

    --height: 125px;
    --width: 125px;

    @include media-breakpoint-up($md) {
      --height: 150px;
      --width: 150px;
    }

    @include media-breakpoint-up($lg) {
      --height: 175px;
      --width: 175px;
    }

    @include media-breakpoint-up($xl) {
      --height: 200px;
      --width: 200px;
    }

    .about_item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: var(--width);
        height: var(--height);
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .about_item_icon {
          font-size: 18px;
        }

        &.small {
          font-size: 14px;
        }

        &.nowrap {
          white-space: nowrap;
        }
      }
    }

    svg {
      margin-top: calc(var(--height) / 2 - 12px);
    }
  }
}
