@import "./container";
@import "./input_range";

// Playfair Display font
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

// Challista font
@font-face {
  font-family: "Challista";
  src: url("../fonts/Challista/Challista.ttf") format("truetype"),
    url("../fonts/Challista/Challista.otf") format("opentype");
  font-weight: normal;
}

// Apple Color Emoji font
@font-face {
  font-family: "Apple Color Emoji";
  src: url("../fonts/AppleColorEmoji/AppleColorEmoji-subset.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", "Apple Color Emoji", serif;
  letter-spacing: 2px;
  background-color: rgb(250, 250, 250);
}

.letter-normal {
  letter-spacing: normal;
}
